
.toolBar {
  margin: 0 auto;
  width: 90%;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.logoInfo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.logo {
  width: 55px;
  height: auto;
  margin-right: 10px;
}

.title {
  font-weight: inherit;
  color: inherit;
  width: 145px;
}

.button {
  background-color: #A2A2A223;
  border: 1px solid black;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

@media (max-width: 415px) {
  .logo {
    width: 35px;
    height: auto;
  }

  .title {
    font-weight: inherit;
    color: inherit;
    font-size: 14px;
    width: 145px;
  }

  .button {
    width: 140px ;
    font-size: 12px!important;
    font-weight: 900;
    color: rgb(0, 0, 0);
  }
}