.addItemBlock {
  padding: 10px 10px 20px;
  height: 56px;
  display: flex;
  max-width: 300px;
}

.textField {
  min-width: 270px;
}

.iconButtonBlock {
  align-self: center;
}

.iconButton {
  margin: 0;
}